.cardContain{
    position: relative;
    width: 100%;
    height: 100%;

    .linkWrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        .buttonStayles{
           
            button{
                font-size: medium;
                color: #002fff;
                background-color: #4aff01;
                outline-style: auto;
                width: 145px;
                height: 39px;
                border: none;
                border-radius: 8px;
            }
        }
    }
    .modal{
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.518);
        display: flex;
        justify-content:center;
        align-items:flex-start;
        display: none;
        position: absolute;
        
        .confirmeModal{
            width: 300px;
            height: 200px;
            background-color: rgba(3, 37, 116, 0.845);
            border-radius: 15px;
            padding: 1rem;
            color: white;
            margin-top: 6em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            button{
                font-size: medium;
                color: #002fff;
                background-color: #4aff01;
                outline-style: auto;
                width: 100px;
                height: 20px;
                border: none;
                border-radius: 8px;
            }
        }
        
        
    }
    .modalOn{
        display:flex;
    }
    .card_Wrapper{
        height: 100%;
        width: 100%;
        overflow:auto;
        background-color: rgb(18,18,204);
    }
}