 h4{
    margin: 0.5rem 0;
    cursor: pointer;
    text-decoration: underline;
    transition-duration: 4s;
    transition-property: color;
    transition-timing-function: linear;
    
}

h4:active{
    color: var(--ball-color);
     transition: 0s;
    }


.SelectPeopleContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--blue-color) ;
    .PeopleWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .SelectPeopleWrapper{
            width: 100%;
            height: 100%;
            margin: 4rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                margin-bottom: 2rem;
                color: var(--ball-color);
            }
            ul li {
                text-align: center;
            }
    
        }
        .playerInAMathcWrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul li {
                text-align: center;
            }
        }
    }
        
    .linkWrapper{
        width: 100%;
       
        padding:3rem 0.5rem;
        display: flex;
        // flex-direction: column;
        align-items: flex-end;
        justify-content:space-between;
        
    }
    
}